body, .album, .container {
	background: #acb6e5;
	background: -webkit-linear-gradient(to right, rgb(248, 248, 248), rgb(244, 244, 244));
	background: linear-gradient(to right, rgb(243, 243, 243), rgb(241, 244, 244));
}

.border, input, textarea, .btn-group, .btn-outline-primary, .btn-outline-success {
	border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
	border-color: #aebecc !important;
	background: #FFFFFF;
}

img, .card {
	border-radius: 1rem !important;
	filter: drop-shadow(1px 1px 1px rgb(166, 164, 164));
}

section {
	background-image: url("/images/common/home.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

#page-top {
	position: fixed;
	bottom: 35px;
	right: 20px;
	font-size: 25px;
}
 
#page-top a {
	display: block;
	background: #666;
	color: #fff;
	width: 80px;
	padding: 15px 0;
	text-align: center;
	text-decoration: none;
	border-radius: 10px;
}
 
#page-top a:hover {
	background: #ccc;
	text-decoration: none;
}

.multi-carousel {
	padding: 0 40px;
}
.multi-carousel .carousel-control-next,
.multi-carousel .carousel-control-prev {
	width: 30px;
	background: #999;
}