<%= link_to("/#{user.username}/following") do %>
	<span class="text-dark">
		<span class="h4 pl-3"><%= user.followings.count %></span>
		&nbsp;フォロー
	</span>
<% end %>

<%= link_to("/#{user.username}/follower") do %>
	<span class="text-dark">
		<span class="h4 pl-4"><%= user.followers.count %></span>
		&nbsp;フォロワー
	</span>
<% end %>
