<% unless @user.post.empty? %>
  <% @user.post.reverse_each do |user_post| %>
  
    <%= render partial: "common/post_list", locals: { one_post_in_list: user_post, type: "user_show_post" } %>
    
  <% end %>
<% else %>
  <div class="row border">
    <div class="col-12 col-sm-12">
      <div class="h6 my-5">
        投稿がありません
      </div>
    </div>
  </div>
<% end %>
