<% unless @user.comments.empty? %>
  <% @user.comments.reverse_each do |user_comment| %>

    <%= render partial: "common/post_list", locals: { one_post_in_list: user_comment.post, user_comment: user_comment, type: "user_show_comment" } %>

  <% end %>
<% else %>
  <div class="row border">
    <div class="col-12 col-md-12">
      <div class="h6 my-5">
        コメントがありません
      </div>
    </div>
  </div>
<% end %>