<% unless @user.like.empty? %>
  <% @user.like.reverse_each do |user_like| %>
  
    <%= render partial: "common/post_list", locals: { one_post_in_list: user_like.post, type: "user_show_like" } %>
    
  <% end %>
<% else %>
  <div class="row border">
    <div class="col-12 col-md-12">
      <div class="h6 my-5">
        いいねがありません
      </div>
    </div>
  </div>
<% end %>
