<% provide(:title, " | #{@user.name}さん (@#{@user.username})のフォローリスト") %>

<main class="text-center">

	<div class="container mt-5">

		<h1 class="h2 font-weight-normal text-muted mb-5"><%= @user.name %>さんの<br class="d-sm-none">フォローリスト</h1>

		<% unless @user.followings.empty? %>
			<% @user.followings.each do |user_following| %>
				<%= render partial: "common/user_list", locals: { one_user_in_list: user_following } %>
			<% end %>
		<% else %>
			<div class="row border mx-2">
				<div class="col-12 col-md-12">
					<div class="h6 my-5">
						フォローしているユーザーがいません
					</div>
				</div>
			</div>
		<% end %>

	</div>

</main>
