<body class="text-center" >
	<%= form_for(@user, url:{controller: 'users', action: 'login'}, html: {class: "form-signin container"}) do |form| %>
	  <img class="mb-4" src="/assets/photoshare_logo.gif" alt="" width="292" height="72">
		<label for="inputEmail" class="sr-only">email</label>
		<%= form.email_field :email, id: "inputEmail", placeholder: "メールアドレス", class: "form-control" %>
		<label for="inputPassword" class="sr-only">inputPassword</label>
		<%= form.password_field :password, id: "inputPassword", placeholder: "パスワード", class: "form-control mb-4" %>
		<%= form.submit "ログイン", class: "btn btn-lg btn-primary btn-block" %>
	<% end %>
	<p class="mb-5">
		アカウントをお持ちではないですか？ <a href="/signup">登録する</a>
	</p>
</body>
