<% provide(:title, " | ユーザー検索") %>

<main class="text-center">

	<div class="container mt-5">

		<h1 class="h3 font-weight-normal text-muted mb-4">キーワードで<br class="d-sm-none">ユーザーを検索</h1>

		<%= render partial: "common/search_form", locals: { search_type: "users" } %>

		<% unless @users.empty? %>
			<% @users.each do |user| %>
			
				<%= render partial: "common/user_list", locals: { one_user_in_list: user } %>
			
			<% end %>
		<% else %>
			<div class="row border mx-2">
				<div class="col-12 col-md-12">
					<div class="h6 my-5">
						該当のユーザーがいません
					</div>
				</div>
			</div>
		<% end %>

	</div>

</main>
