<main role="main">

  <section class="jumbotron text-center">
    <div class="container">

			<% if @invalid_message %>
				<p class="text-center text-danger h4 pb-5">
					<%= @invalid_message %>
				</p>
			<% end %>

			<img class="mb-4" src="/assets/photoshare_logo.gif" alt="" width="292" height="72">
      <p class="lead text-muted">あなたの好きな写真をシェアしましょう</p>
      <p>
				<% if session_now? %>
        	<a href="/posts/add" class="btn btn-lg btn-primary my-2">写真を投稿する</a>
				<% else %>
					<a href="/login" class="btn btn-lg btn-primary my-2">写真を投稿する</a>
				<% end %>
      </p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

			<div class="row">
				<% @posts.each do |post| %>
					<div class="col-md-4">
						<div class="card mb-4 shadow-sm">
							<%= image_tag(post.image.to_s, class: "img-thumbnail") %>
							<div class="card-body">
								<p class="card-text">
									<%= post.title %>
								</p>
								<div class="d-flex justify-content-between align-items-center">
									<div class="btn-group">
										<button type="button" class="btn btn-sm btn-outline-secondary">View</button>
										<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
									</div>
									<small class="text-muted">9 mins</small>
								</div>
							</div>
						</div>
					</div>
				<% end %>
			</div>

		</div>
	</div>

</main>
