<div class="mt-4 mb-1">
  <% if ranking_number == 1 %>
    <i class="fas fa-crown display-3 gold"></i>
  <% elsif ranking_number == 2 %>
    <i class="fas fa-crown display-3 silver"></i>
  <% elsif ranking_number == 3 %>
    <i class="fas fa-crown display-3 bronze"></i>
  <% end%>
</div>