<% provide(:title, " | 「#{@post.title}」をいいねしているユーザー") %>

<main class="text-center">

	<div class="container mt-5">

		<h1 class="h2 font-weight-normal text-muted mb-5">「<%= @post.title %>」<br class="d-sm-none">をいいねしているユーザー</h1>

		<% unless @post.likes.empty? %>
			<% @post.likes.each do |post_like| %>
				<%= render partial: "common/user_list", locals: { one_user_in_list: post_like.user } %>
			<% end %>
		<% else %>
			<div class="row border mx-2">
				<div class="col-12 col-sm-12">
					<div class="h6 my-5">
						いいねをしているユーザーがいません
					</div>
				</div>
			</div>
		<% end %>

	</div>

</main>
