<% provide(:title, " | 投稿検索") %>

<main class="text-center">

	<div class="container mt-5">

		<h1 class="h3 font-weight-normal text-muted mb-4">キーワードで<br class="d-sm-none">投稿を検索</h1>

		<%= render partial: "common/search_form", locals: { search_type: "posts" } %>

		<% unless @posts.empty? %>
			<% @posts.each do |post| %>
			
				<%= render partial: "common/post_list", locals: { one_post_in_list: post, type: "user_search" } %>
			
			<% end %>
		<% else %>
			<div class="row border mx-2">
				<div class="col-12 col-sm-12">
					<div class="h6 my-5">
						該当の投稿がありません
					</div>
				</div>
			</div>
		<% end %>

	</div>

</main>
