<footer class="text-muted pt-5">
	<div class="container">
		<p class="float-right">
			<a href="/">Top へ戻る</a>
		</p>
		<p class="float-left">
			&copy; kuroda Inc.
		</p>
	</div>
	<p id="page-top">
		<a href="#"><i class="fas fa-chevron-up"></i></a>
	</p>
</footer>
