<footer class="text-muted py-5">
	<div class="container">
		<p class="float-right h6">
			<%= link_to("Top へ戻る", "/") %>
		</p>
		<p class="float-left h6">
			&copy; kuroda Inc.
		</p>
	</div>
	<p id="page-top">
		<a href="#"><i class="fas fa-chevron-up"></i></a>
	</p>
</footer>
