<header>
	<nav class="navbar navbar-expand-xl sticky-top navbar-dark bg-dark pt-3 pb-3">
		<a class="navbar-brand" href="/">PhotoShare</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav3" aria-controls="navbarNav3" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav3">
				<ul class="navbar-nav ml-auto">
						<li class="nav-item">
								<a class="nav-link" href="/ranking">ランキング</a>
						</li>
						<li class="nav-item">
								<a class="nav-link" href="/posts/search">投稿検索</a>
						</li>
						<li class="nav-item">
								<a class="nav-link" href="/users/search">ユーザー検索</a>
						</li>
						<% if session_now? %>
							<li class="nav-item">
									<a class="nav-link" href="/posts/add">新規投稿</a>
							</li>
							<li class="nav-item">
								<%= link_to("ログアウト", "/logout", { class: "nav-link", method: :delete }) %>
							</li>
							<li class="nav-item">
									<a class="nav-link" href=<%= "/#{session_user.username}" %>>マイページ</a>
							</li>
						<% end %>
						<% if !session_now? %>
							<li class="nav-item">
									<a class="nav-link" href="/login">ログイン</a>
							</li>
							<li class="nav-item">
									<a class="nav-link" href="/signup">新規登録</a>
							</li>
						<% end %>
				</ul>
		</div>
	</nav>
</header>
